/* 代码整理：懒人之家 www.lanrenzhijia.com */

#treediv{ display:none; position:absolute; overflow:auto; width:80%;height:280px;padding:5px;background:#fff;color:#fff;border:1px solid#ccc; z-index:99;}
.dtree{font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:13px;color:#666;white-space:nowrap; }
.dtree img{border:0px;vertical-align:middle}
.dtree a{color:#000;text-decoration:none}
.dtree a.node,.dtree a.nodeSel{white-space:nowrap;padding:1px 2px 1px 2px}
.dtree a.node:hover,.dtree a.nodeSel:hover{color:#CC6600;text-decoration:underline}
.dtree a.nodeSel{background-color:#c0d2ec}
.dtree.clip{overflow:hidden}
